.main_box{
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 50px;
    color: #000;
    background-color: aliceblue;
    border-radius: 20px;
}


/* Alert Container */
.alert {
    width: 400px;
    border: 1px solid grey; /* Changed border-color to border */
    position: absolute;
    right: 20px;
    top: 100px;
    animation: alertFrame 1s; /* Corrected the animation name to alertFrame */
    background-color: rgb(13, 110, 253);
    color: #fff;
    z-index: 99;
  }
  @keyframes alertFrame {
    0% {
      right: -500px;
    }
    100% {
      right: 20px;
    }
  }

  

